@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html,
body {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(357deg, #ea4f70, #fbf1aa);
  overflow: auto;
  padding-bottom: 10em;
}

main {
  margin-bottom: 8rem !important;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.rad-grad {
  background-image: linear-gradient(60deg, #00ffdd, #ff00f2);
}

.peach-grad {
  background-image: linear-gradient(40deg, #ffd86f, #fc6262);
}

.fire-grad {
  background-image: linear-gradient(123deg, #cbfe87, #e6155e);
}

.shadow {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.orangered {
  background-color: orangered;
}

.btn {
  color: #fff;
}

.btn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #333;
}

.card {
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: 0;
  background-color: #fff;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

select {
  width: 100%;
  border-radius: 0;
  border: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  bottom: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

